<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="main">
      <div id="left">
        <button>
            <i class="ri-home-fill"></i>
          <p>Home</p>
        </button>
        <button>
            <i class="ri-search-line"></i>
          <p>search</p>
        </button>
      </div>
      <div id="right">
        
      </div>
    </div>
  </body>
</html>
