<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/stylesheets/sytle1.css" />
  </head>
  <body>
    <body>
      <audio src="" id="audio"></audio>

      <div class="wrapper">
        <div class="player">
          <div class="music-info">
            <div class="cover"></div>
            <div class="song" id="song">Song Title</div>
            <div class="artist">Track Artist</div>
          </div>

          <div class="slider">
            <div class="current-time">00:00</div>
            <input
              type="range"
              min="1"
              max="100"
              value="0"
              class="seek-slider"
              id="progress"
              onchange="seekTo()"
            />
            <div class="musicduration">00:00</div>
          </div>

          <div class="controls">
            <button class="prev-btn" onclick="prevBtn(this)">
              <i class="fa-solid fa-backward fa-2x"></i>
            </button>
            <button class="play-btn" onclick="playBtn(this)">
              <i class="fa-regular fa-circle-play fa-4x"></i>
            </button>
            <button class="next-btn" onclick="nextBtn(this)">
              <i class="fa-solid fa-forward fa-2x"></i>
            </button>
          </div>
        </div>
      </div>

      <script src="data.js"></script>
      <script src="app.js"></script>

      <footer>
        <nav>
          <a
            target="_blank"
            href="https://unsplash.com/collections/smoorwQxcew/music-player-images"
            class="unsplash"
            >Images from Unsplash</a
          >
          <a target="_blank" href="https://pixabay.com/music/" class="pixabay"
            >Music from Pixabay</a
          >
        </nav>
      </footer>
    </body>

    <script>
      let songs = [
        {
          name: "Futuristic Beat",
          path: "https://jazzie-bee.github.io/hosted-assets/song%201-futuristic-beat-146661.mp3",
          artist: "RoyaltyFreeMusic",
          cover:
            "https://jazzie-bee.github.io/hosted-assets/futuristic-beat-joel-filipe-99neAF8kqhg-unsplash-square.jpg",
        },
        {
          name: "Chapter Two (ft. Carrie)",
          path: "https://jazzie-bee.github.io/hosted-assets/song%202-leonell-cassio-chapter-two-ft-carrie-114909.mp3",
          artist: "Leonell Cassio, Carrie",
          cover:
            "https://jazzie-bee.github.io/hosted-assets/leo-mr-harter-bfRtDB9EHbQ-unsplash-square.jpg",
        },
        {
          name: "Forest Lullaby",
          path: "https://jazzie-bee.github.io/hosted-assets/song%203-forest-lullaby-110624.mp3",
          artist: "Lesfm",
          cover:
            "https://jazzie-bee.github.io/hosted-assets/forest-kyle-glenn-SrASYZZpyjw-unsplash-square.jpg",
        },
        {
          name: "Futuristic Timelaspe",
          path: "https://jazzie-bee.github.io/hosted-assets/song%204-futuristic-timelapse-11951.mp3",
          artist: "Coma-Media",
          cover:
            "https://jazzie-bee.github.io/hosted-assets/future-octavian-rosca-UfCYo7zHyY8-unsplash-square.jpg",
        },
      ];

      let currentMusic = 0;

      // Audio source
      const music = document.querySelector("#audio");

      // Select everything that needs behaviors. I.e. song info needs to change w/ audio, slide seeker, timestamps and images need to change & play/pause icons
      const seekSlider = document.querySelector(".seek-slider");
      const songName = document.querySelector(".song");
      const artistName = document.querySelector(".artist");
      const trackCover = document.querySelector(".cover");
      const currentTime = document.querySelector(".current-time");
      const musicDuration = document.querySelector(".musicduration");
      const musicContainer = document.getElementById(".player");
      const playBtn = document.querySelector(".fa-circle-play");
      const nextBtn = document.querySelector(".next-btn");
      const prevBtn = document.querySelector(".prev-btn");

      // || Setup music details and time
      const setMusic = (i) => {
        seekSlider.value = 0;
        let song = songs[i];
        currentMusic = i;
        music.src = song.path;

        songName.innerHTML = song.name;
        artistName.innerHTML = song.artist;
        trackCover.style.backgroundImage = `url('${song.cover}')`;

        currentTime.innerHTML = "00:00";
        setTimeout(() => {
          seekSlider.max = music.duration;
          musicDuration.innerHTML = formatTime(music.duration);
        }, 300);
      };

      setMusic(0);

      // || Time formatting
      const formatTime = (time) => {
        let min = Math.floor(time / 60);
        if (min < 10) {
          min = `0${min}`;
        }
        let sec = Math.floor(time % 60);
        if (sec < 10) {
          sec = `0${sec}`;
        }
        return `${min}:${sec}`;
      };

      const playMusic = () => {
        music.play();
        playBtn.classList.remove("pause");
        trackCover.classList.add("play");
      };

      // || Event listeners; play/pause song
      playBtn.addEventListener("click", () => {
        playBtn.classList.toggle("fa-circle-pause");

        if (playBtn.className.includes("fa-circle-play")) {
          music.pause();
        }
        if (playBtn.className.includes("fa-circle-pause")) {
          music.play();
        }
      });

      // || Previous song
      prevBtn.addEventListener("click", () => {
        if (currentMusic <= 0) {
          currentMusic = songs.length - 1;
        } else {
          currentMusic--;
        }
        setMusic(currentMusic);
        playMusic();
      });

      // || Next song
      nextBtn.addEventListener("click", () => {
        if (currentMusic >= songs.length - 1) {
          currentMusic = 0;
        } else {
          currentMusic++;
        }
        setMusic(currentMusic);
        playMusic();
      });

      // || Seek bar progress
      setInterval(() => {
        seekSlider.value = music.currentTime;
        currentTime.innerHTML = formatTime(music.currentTime);
        if (Math.floor(music.currentTime) == Math.floor(seekSlider.max)) {
          nextBtn.click();
          playBtn.classList.remove("pause");
          trackCover.classList.add("play");
        }
      }, 500);

      seekSlider.addEventListener("change", () => {
        music.currentTime = seekSlider.value;
      });
    </script>
  </body>
</html>
