* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 0.5em;
  background-color: #000;
}

#left {
  height: 100%;
  width: 20%;
  background-color: #121212;
}

#left button,
a {
  font-size: 1.5em;
  width: 100%;
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  text-decoration: none;
}
#left button > p {
  font-size: 20px;
  font-weight: 600;
}
#left button:hover,
a:hover {
  background-color: #222;
}
#right {
  height: 100%;
  width: 80%;
  background-color: #121212;
  display: flex;
  align-items: start;
}
#right #card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.song {
  background-color: #313131;
  width: fit-content;
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  position: relative;
}
.song img {
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.song .text > h5 {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.song .text > p {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.playbtn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 85%;
  font-size: 3em;
  cursor: pointer;
}
.playbtn > i {
  color: green;
}
